@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}
.bg-navbar a {
    color: #fff !important;
    text-decoration: none;
  }
  .my-navbar{
    padding: 10px 28px;
    font-family: 'Nunito', Sans-Serif;
    background: #113CFC !important;
    color: #000;
    z-index: 99999;
    transition: 0.5s;
  }
  .my-navbar a {
    text-decoration: none;
    color: #fff ;
  }
  .nav-head h6{
    font-weight: 500;
  }
  .nav-info i{
    margin-top: 5px;
    font-size: 20px;
    cursor: pointer;
  }

#section-blog {
    font-family: 'Poppins', sans-serif;
}

#section-blog .blog-title {
    font-family: 'Nunito';
}

.article-category {
    margin-bottom: 20px;
}

.article-category a.my-category {
    color: #888;
    margin-bottom: 0px;
}
.article-category a.my-category:hover {
    text-decoration: underline;
    color: #333;
}
  
.article-category .my-tgl-blog {
    color: #555 !important ;
}
.blog-img img {
    height: 300px;
    border-radius: 20px;
    margin-bottom: 30px;
}

footer.my-footer {
    color: rgb(92, 88, 88);
    font-size: 12px;
}

/* mobile */
@media(max-width : 768px) {
    .blog-img img {
        height: 300px;
    }
    
}






