/* my css */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');
* {
  scroll-behavior: smooth;
}
body {
  background : #F6F6F6;
  min-height: 5000px;
}
.bg-navbar{
  background: #113CFC !important;
  color : #fff !important;
}
.my-navbar{
  padding: 10px 28px;
  font-family: 'Nunito', Sans-Serif;
  background: rgba(0,0,0,0.01);
  color: #000;
  z-index: 99999;
  transition: 0.5s;
}
.nav-head h6{
  font-weight: 500;
}
.nav-info i{
  margin-top: 5px;
  font-size: 20px;
  cursor: pointer;
}
#carouselExampleFade {
  height: 100vh !important;
  position: relative;
}
#carouselExampleFade img {
  width: 100%;
  height : 100vh !important;
}

#my-form-search {
  position : absolute ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 75%;
}
#my-form-search input {
  background: #eee;
  border-radius: 15px 0 0 15px;
}
#my-form-search .input-group-prepend .input-group-text {
  border-radius: 0 15px 15px 0;
}

#my-sweep-down{
  position: absolute;
  z-index: 9998 !important;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: myscroll 1.5s infinite;
  padding: 0 !important;
}

#my-sweep-down i.fas {
  font-size: 50px;
  color: #fff;
  margin: 0 !important;
  padding: 0 !important;
}

#section {
  padding: 5px 25px;
}

.article-category a.my-category {
  color: #888;
  margin-bottom: 0px;
}
.article-category a.my-category:hover {
  text-decoration: underline;
  color: #333;
}

.article-category .my-tgl-blog {
  color: #111 !important ;
}

/* mobile */
@media(max-width : 768px){
  .my-navbar{
    padding: 3px 20px;
  }
  #section {
    padding: 5px 20px;
  }

}

@keyframes myscroll {
  0%{
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  25%{
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  75%{
    opacity: 0.8;
  }
  100%{
    transform: translate(-50%, 0);
    opacity: 1;
  }
  
}

